@import '@/styles/variables.module.scss';

.code-actions {
  position: fixed;
  bottom: 1rem;
  height: 4rem;
  // width: calc(50% - 1.5rem);
  width: inherit;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  padding: 0.8rem 2rem;

  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  justify-content: space-between;

  &--dark {
    background-color: $dark-background-400;
  }

  &--light {
    background-color: $light-background-0;
  }
}

.left-button-group,
.right-button-group {
  display: flex;
  gap: 1rem;

  button {
    min-height: 2.5rem;
  }
}

.up,
.down {
  transition: all 0.3s ease;
}

.up {
  transform: rotate(180deg);
}

.down {
  transform: rotate(0deg);
}
