@import '@/styles/variables.module.scss';

.editor-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
  font-size: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.2rem;
  padding: 0 2rem;
  gap: 1rem;
  z-index: 50;
  position: sticky;

  &--dark {
    background-color: $dark-background-300;
  }

  &--light {
    background-color: $light-background-0;
  }
}

.options {
  display: flex;
  align-items: center;
  color: $text-gray-400;
  gap: 1.5rem;

  & > * {
    cursor: pointer;
  }

  li:last-child label div button {
    color: $color-icon-gray;
  }
}