@import '@/styles/variables.module.scss';

.time-setter {
  width: 20rem;
  min-height: 100%;
}

.tabs {
  display: flex;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  li {
    width: 50%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .timer__tab {
    border-radius: 2px;
    border-top-left-radius: 10px;
  }

  .stopwatch__tab {
    border-radius: 2px;
    border-top-right-radius: 10px;
  }

  .active {
    background-color: $color-secondary-100;
    color: $text-off-white;
  }
}

.timer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    width: 20rem;
    border-radius: 5px;
    padding: 0.7rem 2rem;
    font-size: 1.7rem;
  }

  input:focus {
    outline: none;
  }

  .inactive {
    background-color: $color-gray-100;
  }

  &--dark input {
    background-color: $light-background-0;
    color: $color-gray-800;
  }

  &--light input {
    background-color: $color-input-light;
  }
}

.stopwatch {
  height: 10.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-bar {
  align-self: center;
  margin-top: 1rem;
}