@import '@/styles/variables.module.scss';

.working-note {
  display: flex;
  align-items: center;
  height: calc(100vh - 5rem);
  width: 60vw;

  .text-editor-wrapper {
    position: relative;
    width: inherit;
    padding: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .close-note {
      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
      padding: 0.2rem;
      border-radius: 3px;
      z-index: 10;
    }

    &--dark {
      background-color: $dark-background-200;
    }

    &--light {
      background-color: $light-background-0;
    }
  }
}

/**********************************/
/* BELOW 769px                    */
/**********************************/
@media (max-width: 48em) {
  .working-note {
    width: 100vw;
    height: 100vh;

    .text-editor-wrapper {
      border-radius: unset;
      overflow-y: hidden;
    }
  }
}