@import '@/styles/variables.module.scss';

.logos {
  display: flex;
  gap: 1rem;
  color: $color-off-white;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.more-companies {
  display: flex;
  padding: 1rem;
  width: fit-content;
  max-width: 30rem;
  gap: 1rem;

  &--dark {
    background-color: $dark-background-100;
  }

  &--light {
    background-color: $light-background-300;
  }
}

.brand,
.more {
  border-radius: 10px;
  padding: 0.2rem 1rem;

  &--dark {
    background-color: $color-gray-800;
  }

  &--light {
    background-color: $color-gray-200;
    color: $text-off-white;
  }
}

.brand {
  height: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    width: 1.2rem;
  }
}

.more {
  font-weight: bold;
  cursor: pointer;
}
