@import '@/styles/variables.module.scss';

.problems-table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8rem;

  font-size: 1.5rem;

  &--dark {
    color: $text-off-white;
  }

  &--light {
    color: $text-gray-700;
  }
}

.table-header {
  width: fit-content;
  overflow: visible;
  display: flex;
  min-height: 4rem;
  height: 4rem;
  height: 4rem;
  border-bottom: solid $color-gray-600 0.4px;
  margin-bottom: 1.5rem;
  padding: 0 2rem;

  &--dark {
    color: $color-gray-300;
  }

  &--light {
    color: $color-gray-500;
  }
}

.solved-header,
.category-header,
.title-header,
.difficulty-header,
.solution-header,
.companies-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.solved-header {
  min-width: 6rem;
  width: 6rem;
}

.category-header {
  min-width: 18rem;
  width: 18rem;
}

.title-header {
  min-width: 45rem;
  width: 45rem;
  padding: 0 2rem;
}

.difficulty-header {
  min-width: 10rem;
  width: 10rem;
}

.solution-header {
  min-width: 8rem;
  width: 8rem;
}

.companies-header {
  min-width: 35rem;
  width: 35rem;
}

.category-header,
.title-header,
.difficulty-header {
  gap: 0.5rem;
  & > *:nth-child(2) {
    transform: translateY(-1px);
  }
}

.table-body {
  width: 100%;
  overflow-x: visible;
}

/**********************************/
/* BELOW 1201px (Smaller desktop) */
/**********************************/
@media (max-width: 75em) {
  .category-header {
    min-width: 12rem;
    width: 12rem;
  }
  .title-header {
    min-width: 35rem;
    width: 35rem;
  }

  .companies-header {
    min-width: 28rem;
    width: 28rem;
  }
}

/**********************************/
/* BELOW 1105px (Smaller desktop) */
/**********************************/
@media (max-width: 69em) {
  .solved-header {
    min-width: 5rem;
    width: 5rem;
  }

  .category-header {
    min-width: 10rem;
    width: 10rem;
  }

  .difficulty-header {
    min-width: 9rem;
    width: 9rem;
  }

  .solution-header {
    min-width: 8rem;
    width: 8rem;
  }

  .companies-header {
    min-width: 35rem;
    width: 35rem;
  }
}

/**********************************/
/* BELOW 769px                    */
/**********************************/
@media (max-width: 48em) {
  .category-header {
    min-width: 18rem;
    width: 18rem;
  }

  .title-header {
    min-width: 26rem;
    width: 26rem;
    padding-left: 0;
  }

  .difficulty-header {
    min-width: 10rem;
    width: 10rem;
  }

  .solution-header {
    min-width: 8rem;
    width: 8rem;
  }

  .companies-header {
    min-width: 35rem;
    width: 35rem;
  }
}