@import '@/styles/variables.module.scss';

.problems-table {
  width: 100%;
  overflow: inherit;
  font-size: 1.5rem;

  &--dark {
    color: $text-off-white;
  }

  &--light {
    color: $text-gray-700;
  }
}

.table-header {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  height: 4rem;
  border-bottom: solid $color-gray-600 0.4px;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  color: $color-gray-300;
  gap: 1rem;
}

.category-header {
  grid-column: span 1;

}

.category-header {
  grid-column: span 2;
}

.title-header {
  grid-column: span 4;
}

.difficulty-header {
  grid-column: span 1;
  min-width: 8.8rem;
}

.solution-header {
  grid-column: span 1;
}

.companies-header {
  grid-column: span 4;
}

.category-header,
.title-header,
.difficulty-header {
  display: flex;
  width: fit-content;
  gap: 0.5rem;
}
