.problem {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  height: 6rem;
  padding: 0 2rem;
  align-items: center;
  line-height: 1.4;
  /* margin-bottom: 1rem; */
  gap: 1rem;
}

.solved-content {
  grid-column: span 1;
  padding-left: 15%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.category-content {
  grid-column: span 2;
  padding-right: 0.5rem;
}

.title-content {
  grid-column: span 4;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.note-icon,
.expand,
.edit,
.clear,
.add {
  position: relative;
}

.note-icon .difficulty-content {
  grid-column: span 1;
}

.solution-content {
  grid-column: span 1;
}

.solution-content svg {
  transform: translateX(70%);
  transition: color 0.3s ease;
}

.note-icon:hover::after,
.expand:hover:after,
.edit:hover:after,
.clear:hover:after,
.add:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  /* width: 5rem; */
  width: fit-content;
  font-size: 1.2rem;
  background-color: var(--background-color-50);
  color: var(--color-off-white);
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.companies-content {
  grid-column: span 4;
  position: relative;
}

.companies-content::before {
  transition: all 0.3s ease;
}

.companies-content:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 30rem;
  font-size: 1.3rem;
  background-color: rgb(214, 111, 56);
  color: var(--color-off-white);
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.note {
  position: relative;
  padding-left: 3rem;
  padding-right: 1rem;
  margin: 1rem 0 1.5rem;
  display: flex;
  height: 5rem;
}

.note-actions {
  position: absolute;
  right: 3rem;
  top: 1.4rem;
  gap: 1rem;
  color: var(--color-grey-600);
  cursor: pointer;
}

.title-link,
.note-icon,
.expand,
.edit,
.clear,
.add {
  transition: color 0.3s ease;
}

.title-link:hover,
.note-icon:hover,
.solution-content svg:hover,
.expand:hover,
.edit:hover,
.clear:hover,
.add:hover {
  color: var(--color-primary-50);
}

.strip {
  background-color: rgb(227, 92, 51);
  width: 2.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.note > * {
  display: flex;
  align-items: center;
}

.note > *:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 3rem;
  width: 100%;
}
