@import '@/styles/variables.module.scss';

.problem {
  display: flex;
  min-height: 6rem;
  height: 6rem;
  max-height: 10rem;
  padding: 0 2rem;
  align-items: center;
  line-height: 1.4;
  z-index: 2;
  width: fit-content;
  overflow: visible;
}

.problem--dark--odd-cell {
  background-color: $odd-cell-color-dark;
  border-radius: 5px;
}

.problem--light--odd-cell {
  background-color: $odd-cell-color-light;
  border-radius: 5px;
}

.solved-content,
.solution-content,
.category-content,
.title-content,
.difficulty-content,
.solution-content,
.companies-content {
  display: flex;
  height: 100%;
  align-items: center;
}

.solved-content {
  min-width: 6rem;
  width: 6rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  justify-content: center;
}

.category-content {
  min-width: 18rem;
  width: 18rem;
}

.title-content {
  min-width: 45rem;
  width: 45rem;
  gap: 2rem;
  padding: 0 2rem;
}

.difficulty-content {
  min-width: 10rem;
  width: 10rem;
}

.action-icons {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  width: fit-content;

  & > * {
    cursor: pointer;
  }
}

.solution-content {
  min-width: 8rem;
  width: 8rem;
  max-width: 8rem;
  padding-left: 2rem;
}

.solution-content svg {
  transition: color 0.3s ease;
}

.companies-content {
  min-width: 35rem;
  width: 35rem;
  position: relative;
  padding: 0.5rem 0;

  .logo {
    height: 100%;
  }
}

.cell {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.note {
  min-width: 94rem;
  width: 94rem;
  position: relative;
  padding-right: 1rem;
  margin: 1rem 0 1.5rem;
  display: flex;
  height: 5rem;
  border-radius: 5px;
  margin-left: 2rem;
  margin-right: 1rem;

  & > * {
    display: flex;
    align-items: center;
  }

  &--dark {
    background-color: $strip-color-dark;
  }

  &--light {
    background-color: $strip-color-light;
  }
}

.note-actions {
  gap: 1rem;
  color: $color-gray-600;
  cursor: pointer;
  margin-left: 0.5rem;
}

.add {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  gap: 0.8rem;
  font-size: 1.6rem;
  color: $color-gray-700;
}

.add span {
  cursor: pointer;
}

.add p {
  margin-top: 2px;
}

.content {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 0 2rem;

  & > * {
    width: 100%;
    height: 2rem;
    line-height: 1.3;
    overflow: hidden;
  }
}

.title-link,
.note-icon,
.bookmark-icon,
.expand,
.view-note,
.clear,
.add span {
  transition: color 0.3s ease;
}

.view-note {
  transform: translateY(1px);
}

.title-link:hover,
.note-icon:hover,
.bookmark-icon:hover,
.solution-content svg:hover,
.expand:hover,
.view-note:hover,
.clear:hover,
.add span:hover {
  color: $color-primary-50;
}

.strip {
  width: 2.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateX(-2px);
  background-color: $color-primary-100;
}

.modal__full-note {
  width: 60vw;
  margin: 6rem 5rem 5rem;
}

/**********************************/
/* BELOW 1201px (Smaller desktop) */
/**********************************/
@media (max-width: 75em) {
  .category-content {
    min-width: 12rem;
    width: 12rem;
  }

  .title-content {
    min-width: 35rem;
    width: 35rem;
  }

  .companies-content {
    min-width: 28rem;
    width: 28rem;
  }
}

/**********************************/
/* BELOW 1105px (Smaller desktop) */
/**********************************/
@media (max-width: 69em) {
  .solved-content {
    min-width: 5rem;
    width: 5rem;
  }

  .category-content {
    min-width: 10rem;
    width: 10rem;
  }

  .difficulty-content {
    min-width: 9rem;
    width: 9rem;
  }

  .solution-content {
    min-width: 8rem;
    width: 8rem;
  }

  .companies-content {
    min-width: 35rem;
    width: 35rem;
  }
}

/**********************************/
/* BELOW 977px (Smaller desktop) */
/**********************************/
@media (max-width: 61em) {
  .solution-modal-wrapper::-webkit-scrollbar {
    display: none;
  }
}

/**********************************/
/* BELOW 769px                    */
/**********************************/
@media (max-width: 48em) {
  .problem {
    min-height: 8rem;
    height: 8rem;
  }
  .category-content {
    min-width: 18rem;
    width: 18rem;
  }

  .title-content {
    min-width: 26rem;
    width: 26rem;
    padding-left: 0;
  }

  .difficulty-content {
    min-width: 10rem;
    width: 10rem;
  }

  .solution-content {
    min-width: 8rem;
    width: 8rem;
  }

  .companies-content {
    min-width: 35rem;
    width: 35rem;
  }

  .note {
    min-width: 104rem;
    width: 104rem;
  }
}

/**********************************/
/* BELOW 417px                    */
/**********************************/
@media (max-width: 26em) {
  .problem {
    font-size: 1.6rem;

    .title-content {
      min-width: 28rem;
      width: 28rem;
    }
  }

  .note > div:nth-child(2) > div > div {
    font-size: 1.6rem !important;
    transform: translateY(-1px);
  }

  .add {
    top: 1rem;
  }

  .add label {
    margin-top: 0.5rem;
  }

  .add p {
    font-size: 1.6rem;
    margin-top: 0.6rem;
  }
}
