@import '@/styles/variables.module.scss';

.problem {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  min-height: 6rem;
  height: 6rem;
  max-height: 10rem;
  padding: 0 2rem;
  align-items: center;
  line-height: 1.4;
  gap: 1rem;
  z-index: 2;
}

.problem--dark--odd-cell {
  background-color: $odd-cell-color-dark;
  border-radius: 5px;
}

.problem--light--odd-cell {
  background-color: $odd-cell-color-light;
  border-radius: 5px;
}

.solved-content {
  grid-column: span 1;
  padding-left: 15%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.category-content {
  grid-column: span 2;
  padding-right: 0.5rem;
}

.title-content {
  grid-column: span 4;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.action-icons .difficulty-content {
  grid-column: span 1;
}

.difficulty-content {
  transform: translateX(-1rem);
}

.action-icons {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  width: fit-content;

  & > * {
    cursor: pointer;
  }
}

.solution-content {
  grid-column: span 1;
  width: 100%;
  padding-left: 1rem;
}

.solution-content svg {
  transition: color 0.3s ease;
}

.companies-content {
  grid-column: span 4;
  position: relative;
  overflow: visible;
}

.cell {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.note {
  position: relative;
  padding-right: 1rem;
  margin: 1rem 0 1.5rem;
  display: flex;
  height: 5rem;
  border-radius: 5px;
  margin-left: 2rem;
  margin-right: 1rem;

  & > * {
    display: flex;
    align-items: center;
  }

  &--dark {
    background-color: $strip-color-dark;
  }

  &--light {
    background-color: $strip-color-light;
  }
}

.note-actions {
  gap: 1rem;
  color: $color-gray-600;
  cursor: pointer;
  margin-left: 0.5rem;
}
.add {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  gap: 0.8rem;
  font-size: 1.6rem;
  color: $color-gray-700;
}

.add span {
  cursor: pointer;
}

.add p {
  margin-top: 2px;
}

.content {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 0 2rem;

  & > * {
    width: 100%;
    height: 2rem;
    line-height: 1.3;
    overflow: hidden;
  }
}

.title-link,
.note-icon,
.bookmark-icon,
.expand,
.edit,
.clear,
.add span {
  transition: color 0.3s ease;
}

.title-link:hover,
.note-icon:hover,
.bookmark-icon:hover,
.solution-content svg:hover,
.expand:hover,
.edit:hover,
.clear:hover,
.add span:hover {
  color: $color-primary-50;
}

.strip {
  width: 2.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateX(-2px);
  background-color: $color-primary-100;
}

.modal__full-note {
  width: 60vw;
  margin: 6rem 5rem 5rem;
}
