@import '@/styles/variables.module.scss';

.saved-list-drawer {
  width: 70vw;
  max-width: 70vw;
  padding: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: transparent;

  &--dark {
    background: $user-menu-background-dark;
    color: $text-off-white;

    & > *:nth-child(2) {
      border: solid $dark-background-100 1px;
    }
  }

  &--light {
    background: $user-menu-background-light;
    color: $text-gray-700;

    & > *:nth-child(2) {
      border: solid $color-gray-100 1px;
    }
  }

  .header-title {
    height: fit-content;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
    width: inherit;
  }

  // titles-selection
  & > *:nth-child(2) {
    background-color: transparent;
    height: calc(100vh - 10rem);
    width: 100%;
    box-shadow: none;
    padding: 1rem 3rem;


    // Table
    & > div > div {
      width: 100%;

      // Table body
      & > div {
        min-height: calc(100vh - 10em);
        height: 100%;
        font-size: 1.6rem;
        overflow: auto;

        // Table cell
        & > div {
          & > div:first-child {
            min-width: 2.5rem;
            width: 2.5rem;
            padding-left: 0;
          }
          & > div:nth-child(2) {
            min-width: 2.5rem;
            width: 2.5rem;
            padding-left: 0;
            margin-left: 1rem;
          }
          & > p {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

/**********************************/
/* BELOW 769px                    */
/**********************************/
@media (max-width: 48em) {
  .saved-list-drawer {
    width: 80vw;
    max-width: 80vw;
  }
}

/**********************************/
/* BELOW 641px                    */
/**********************************/
@media (max-width: 40em) {
  .saved-list-drawer {
    width: 100vw;
    max-width: 100vw;
  }
}