@import '@/styles/variables.module.scss';

.utils {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.note-switch {
  align-self: center;
  justify-self: center;
  transform: translateY(0.5rem);
}

/**********************************/
/* SAMSUNG GALAXY                 */
/**********************************/
@media (max-width: 414px) {
  .note-switch {
    transform: translateY(-0.1rem);
  }
}

/**********************************/
/* GALAXY S8                      */
/**********************************/
@media (max-width: 360px) {
  .note-switch {
    transform: translateY(0.5rem);
  }
}