@import '@/styles/variables.module.scss';

.copy-button-wrapper {
  position: absolute;
  cursor: pointer;
}

.copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  opacity: 1;
  background-color: $color-gray-600;
  transition: background-color 0.3s;
}

.is-copied {
  background-color: $color-success-500;
}

.copy-button:hover {
  background-color: $color-success-500;
}