@import '@/styles/variables.module.scss';

.arrow-down_show,
.arrow-up_show,
.options_show {
  opacity: 1;
}

.arrow-down_hide,
.arrow-up_hide,
.options_hide {
  opacity: 0;
}

.arrow-down_show,
.arrow-up_show,
.arrow-down_hide,
.arrow-up_hide {
  transition: all 0.5s ease;
}

.arrow-down_show {
  transform: rotate(0deg);
}

.arrow-down_hide {
  transform: rotate(180deg);
}

.arrow-up_show {
  transform: rotate(360deg);
}

.arrow-up_hide {
  transform: rotate(180deg);
}

.options_show {
  pointer-events: all;
  transition: opacity 0.5s ease-out;
}

.options_hide {
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

.option-item {
  transition: all 0.3s ease;
}

.tags__badge--dark {
  background-color: $color-gray-600;
  color: $color-gray-100;
  transition: all 0.3s ease;
}

.tags__badge--light {
  background-color: $light-background-50;
  color: $text-gray-500;
  transition: all 0.3s ease;
}

.tags__badge--dark:hover {
background-color: $color-primary-400;
}

.tags__badge--light:hover {
  background-color: $color-primary-200;
  color: $text-off-white;
}

.tags__badge--dark--selected {
  background-color: $color-primary-400;
  color: $color-gray-100;
}

.tags__badge--light--selected {
  background-color: $color-primary-200;
  color: $text-off-white;
}