.heatmap-container {
  display: flex;
  gap: 1rem;
  padding-right: 1.5rem;
}

.calendar {
  width: 4rem;
  position: relative;
}

.month {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-grey-200);
}

.tooltip {
  position: absolute;
  width: 23rem;
  background-color: var(--color-grey-50);
  padding: 0.8rem;
  font-size: 1.2rem;
  color: var(--color-grey-700);
  border-radius: 4px;
  text-align: center;
  z-index: 10;
}