.heatmap-calendar {
  display: flex;
  width: fit-content;
  background-color: transparent;
}

.heatmap-calendar-month {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

.heatmap-month {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

.heatmap-weekdays {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  gap: 1.1px;
}

.heatmap-week {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.heatmap-day-dark,
.heatmap-day-light {
  width: 8px;
  height: 8px;
  position: relative;
}

.heatmap-day-dark:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 25rem;
  max-width: 28rem;
  font-size: 1.2rem;
  background-color: var(--light-background-color-100);
  color: var(--color-grey-800);
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.heatmap-day-light:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 25rem;
  max-width: 28rem;
  font-size: 1.2rem;
  background-color: var(--background-color-500);
  color: var(--color-off-white);
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.heatmap-grid {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.heatmap-month-name {
  /* text-transform: uppercase; */
}

.heatmap-month-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heatmap-year {
  /* font-size: 18px;
  font-weight: normal;
  margin-left: 10px; */
}

.heatmap-weekday {
  margin-right: 0.5rem;
  /* width: 30px;
  height: 30px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  /* color: #999; */
  /* border: 1px solid #eee; */
}

.heatmap-day {
  /* width: 9px;
  height: 9px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* color: #fff; */
  /* font-weight: bold; */
  /* border: 1px solid #eee; */
}
