@import '@/styles/variables.module.scss';

.notebook__mobile-folder-list {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  min-width: 50rem;
  width: 50rem;
  font-size: 1.5rem;
  z-index: 10;
  padding-top: 7rem;

  &::-webkit-scrollbar {
    display: none;
  }

  .folder-list__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    width: 100%;

    .close-button__wrapper {
      align-self: flex-end;
      width: 50rem;

      .close-folder-list__button {
        background-color: rgb(51, 52, 53);
        min-width: 40rem;
        display: flex;
        justify-content: flex-end;
        position: relative;

        & > * {
          position: absolute;
          top: 2rem;
          right: 3rem;
        }


        &--dark {
          background-color: $dark-background-400;
          color: $text-off-white;
          border-right: solid $color-gray-700 1px;
        }

        &--light {
          background-color: $light-background-0;
          color: $text-gray-700;
          border-right: solid $color-gray-200 1px;
        }
      }
    }

    .folders {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 7rem 3rem;
      overflow-x: visible;
      max-width: 40rem;
      height: 100%;

      &--dark {
        background-color: $dark-background-400;
        color: $text-off-white;
        border-right: solid $color-gray-700 1px;
      }

      &--light {
        background-color: $light-background-0;
        color: $text-gray-700;
        border-right: solid $color-gray-200 1px;
      }

      & > li {
        min-width: 40rem;

        & > div:first-child {
          overflow: hidden;
        }

        & > div:nth-child(2) {
          margin-right: 6rem;
        }
      }
    }
  }
}

/**********************************/
/* BELOW 513px                    */
/**********************************/
@media (max-width: 32em) {
  .notebook__mobile-folder-list {
    font-size: 1.6rem;
    padding-top: 0;
    width: 100vw;
    min-width: 100vw;

    &--dark {
        background-color: $dark-background-400;
      }

    &--light {
      background-color: $light-background-0;
    }


    .folder-list__wrapper {
      .close-button__wrapper {
        min-width: 100vw;
        width: 100vw;

        .close-folder-list__button {
          min-width: 100vw;

          & > * {
            top: 3rem;
            right: 4rem;
          }
        }
      }

      .folders {
        min-width: 100vw;
        width: 100vw;
        padding: 9rem 0 3rem 5rem;
        gap: 2rem;
        border-right: none;

        li {
          div:first-child {
            width: 70vw;
          }
          div:nth-child(2) {
            margin-right: 8rem;

            & > ul {
              left: -12rem;
            }
          }
        }
      }
    }
  }
}

/**********************************/
/* PIXEL 5 & IPHONE 12 PRO        */
/**********************************/
@media (max-width: 393px) {
  .notebook__mobile-folder-list .folder-list__wrapper {
      .folders li div:nth-child(2) {
        margin-right: 10rem;
      }
  }
}

/**********************************/
/* IPHONE SE                      */
/**********************************/
@media (max-width: 375px) {
  .notebook__mobile-folder-list .folder-list__wrapper {
      .folders li div:nth-child(2) {
        margin-right: 11.6rem;
      }
  }
}

/**********************************/
/* GALAXY S8+                     */
/**********************************/
@media (max-width: 360px) {
  .notebook__mobile-folder-list .folder-list__wrapper {
      .folders li div:nth-child(2) {
        margin-right: 13rem;
      }
  }
}