@import '@/styles/variables.module.scss';

.user-menu {
  position: absolute;
  top: 4rem;
  right: 0;
  color: var(--color-off-white);
  width: 18rem;
  display: flex;
  z-index: 10;
}

.user-menu__nav-items {
  background-color: $dark-background-100;
  width: 100%;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.user-menu__avatar {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: solid $color-gray-500 0.5px;
  padding-bottom: 1rem;
  width: fit-content;
}

.user-menu__items {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.user-menu__items > * {
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
}

.user-menu__items > *:hover {
  transition: all 0.4s ease;
  opacity: 1;
}

.user-menu__items > *:hover {
  opacity: 0.7;
  background-color: $color-primary-100;
}
