@import '@/styles/variables.module.scss';

.user-menu {
  z-index: 50 !important;
}

.user-menu__avatar {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: solid $color-gray-500 0.5px;
  padding-bottom: 1rem;
  width: fit-content;
}
