.add-notes {
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  padding: 5rem;
  font-size: 1.4rem;
}

.add-notes__content {
  margin-top: 3rem;
}

.add-notes__actions {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  align-self: center;
}

.add-notes__form-controls {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin-bottom: 3rem;
}

.add-notes__form-controls label {
  margin-bottom: 1rem;
}

.add-notes__list-field,
.add-notes__title-field {
  height: 3rem;
  color: var(--color-grey-900);
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  background-color: var(--color-off-white);
  border-radius: 2px;
}

.add-notes__list-field {
  width: 20rem;
}

.add-notes__title-field {
  width: 30rem;
}

.add-notes__list-name {
  display: flex;
  width: fit-content;
  height: 3rem;
}

.add-notes__required {
  font-size: 2rem;
  color: var(--color-error-200);
}