@import '@/styles/variables.module.scss';

.admin-dashboard {
  min-height: calc(100vh - 150px);
  display: flex;
  gap: 3rem;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 5rem;

  &--dark {
    background-color: $dark-background-400;
  }

  &--light {
    background-color: $light-background-0;
  }
}