@import '@/styles/variables.module.scss';

.problems-page {
  min-height: calc(100vh - 50px);

  font-size: 1.5rem;
  padding: 5rem;

  &--dark {
    background-color: $dark-background-400;
  }

  &--light {
    background-color: $light-background-0;
  }
}