@import '@/styles/variables.module.scss';

.auth-page {
  min-height: calc(100vh - 15rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;

  &--dark {
    background-color: $dark-background-400;
  }

  &--light {
   background-color: $light-background-0;
 }
}