@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './variables.module.scss';

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $dark-background-100;
}

::-webkit-scrollbar-thumb {
  background: $color-gray-700;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-gray-600;
}

.scrollbar-light::-webkit-scrollbar-track {
  background: $color-scrollbar-track-light;
}

.scrollbar-light::-webkit-scrollbar-thumb {
  background: $color-scrollbar-thumb-light;
}

.scrollbar-light::-webkit-scrollbar-thumb:hover {
  background: $color-scrollbar-thumb-hover-light;
}

.text-editor.light .w-md-editor-area::-webkit-scrollbar-track,
.text-editor.light .w-md-editor-preview::-webkit-scrollbar-track,
.heatmap-wrapper--light::-webkit-scrollbar-track,
.solution-modal-wrapper--light::-webkit-scrollbar-track,
.problem-description-wrapper--light::-webkit-scrollbar-track,
.title-list-wrapper--light::-webkit-scrollbar-track {
  background: $color-scrollbar-track-light;
}

.text-editor.light .w-md-editor-area::-webkit-scrollbar-thumb,
.text-editor.light .w-md-editor-preview::-webkit-scrollbar-thumb,
.heatmap-wrapper--light::-webkit-scrollbar-thumb,
.solution-modal-wrapper--light::-webkit-scrollbar-thumb,
.problem-description-wrapper--light::-webkit-scrollbar-thumb,
.title-list-wrapper--light::-webkit-scrollbar-thumb {
  background: $color-scrollbar-thumb-light;
}

.text-editor.light .w-md-editor-area::-webkit-scrollbar-thumb:hover,
.text-editor.light .w-md-editor-preview::-webkit-scrollbar-thumb:hover,
.heatmap-wrapper--light::-webkit-scrollbar-thumb:hover,
.solution-modal-wrapper--light::-webkit-scrollbar-thumb:hover,
.problem-description-wrapper--light::-webkit-scrollbar-thumb:hover,
.title-list-wrapper--light::-webkit-scrollbar-thumb:hover {
  background: $color-scrollbar-thumb-hover-light;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.3px;
  background-color: $dark-background-400;
}

.editor-preview.light .copied {
  background-color: $light-background-300;
}

.code-editor {
  padding-top: 1rem;
}

.code-editor .decorationsOverviewRuler,
.code-editor .invisible.scrollbar.vertical.fade,
.code-editor .visible.scrollbar.vertical {
  width: 0.8rem !important;
}

.code-editor .scroll-decoration {
  width: 0 !important;
}

.code-editor .view-line.code-error-highlight {
  opacity: 0.7;
  width: calc(100% - 8px);
  background-color: $color-error-700 !important;
  border: solid $color-error-500 1px;
}


.code-debug-highlight--dark {
  opacity: 0.7;
  width: calc(100% - 8px);
  background-color: $color-debug-highlight-dark !important;
}

.code-debug-highlight--light {
  opacity: 0.7;
  width: calc(100% - 8px);
  background-color: $color-debug-highlight-light !important;
}

.code-highlight {
  overflow-x: hidden !important;
  .code-line {
    word-wrap: break-word;
    overflow-x: hidden;
    white-space: pre-wrap;
    font-size: 1.4rem;
  }
}

.breakpoint-set,
.breakpoint-hover {
  background-color: $color-error-400;
  width: 0.8rem !important;
  height: 0.8rem !important;
  cursor: pointer !important;
  border-radius: 50%;
  position: absolute !important;
  left: 0.5rem !important;
  top: 0.5rem !important;
  opacity: 0.6;
}

.breakpoint-set {
  opacity: 1;
}

// .breakpoint-hover {
//   opacity: 0.6;
// }

.w-md-editor {
  box-shadow: none !important;
  height: 50vh !important;
}

.full-screen .w-md-editor {
  height: 100vh !important;
}

.w-md-editor-show-preview .w-md-editor-toolbar {
  display: flex;
  justify-content: flex-end;
  min-height: 3.2rem !important;

  ul:first-child {
    display: none;
  }
}

.wmde-markdown pre {
  position: relative;
}

.text-editor {
  .w-md-editor-bar {
    display: none;
  }

  .w-md-editor-toolbar {
    border-bottom: none;

    & > ul:nth-child(2) {
      transform: translateX(-1.5rem);
    }
  }

  button[data-name='fullscreen'],
  .w-md-editor-toolbar-divider {
    display: none;
  }
}

.text-editor.dark {
  background-color: $dark-background-200 !important;

  .w-md-editor-preview .code-highlight {
    background-color: $color-code-hightlight-preview-dark !important;
  }

  .text-editor.dark,
  .w-md-editor-toolbar,
  .wmde-markdown.wmde-markdown-color {
    background-color: $dark-background-200 !important;
  }
}

.text-editor.light {
  .w-md-editor-preview .code-highlight {
    background-color: $color-code-hightlight-preview-light !important;
  }

  .text-editor.dark,
  .w-md-editor-toolbar,
  .wmde-markdown.wmde-markdown-color {
    background-color: $light-background-0 !important;
  }
}

.problem-form .text-editor {
  .w-md-editor {
    height: unset;
  }

  button[data-name='fullscreen'],
  .w-md-editor-toolbar-divider {
    display: inline-block;
  }

  .w-md-editor-toolbar {
    & > ul:nth-child(2) {
      transform: translateX(0);
    }
  }

  .w-md-editor-bar {
    display: block;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    height: 10px;
    cursor: row-resize;
    background-color: $resize-handlebar-color;
    background-repeat: no-repeat;
    background-position: 50%;
    width: calc(100% + 4rem);
    position: relative;
    top: 3.2rem;
    right: 2rem;

    svg {
      display: none;
    }
  }
}

.react-resizable {
  position: relative;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-resizable-handle {
  display: block;
  background-color: $dark-background-200;
  background-repeat: no-repeat;
  background-position: 50%;
}

.problem-editor {
  .react-resizable-handle-n {
    height: 10px;
    width: 100%;
    transform: rotate(0);
    transform: translateX(-48%);
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    background-position: 50% 2px;
    position: absolute;
    top: 0;
  }

  .react-resizable-handle:hover {
    background-color: $color-primary-500;
  }
}

.debugger .react-resizable {
  padding: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;

  .react-resizable-handle:hover {
    background-color: $color-secondary-100;
  }
}

.debugger .react-resizable-handle-s {
  height: 10px;
  width: calc(100% + 4rem);
  cursor: row-resize;
  transform: rotate(0);
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
}

.debugger.dark .react-resizable-handle-s {
  background-color: $dark-background-400;
}

.debugger.light .react-resizable-handle-s {
  background-color: $light-background-0;
}

// .react-resizable-handle-e {
//   width: 10px;
//   min-width: 10px;
//   height: 100%;
//   cursor: col-resize;
//   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
// }

// .code-snippet {
//   &:has(> div.lines-content.monaco-editor-background) {
//     background-color: $dark-background-50 !important;
//   }

//   &:has(> div.margin){
//     background-color: $dark-background-50 !important;
//   }
// }

// .code-snippet .lines-content.monaco-editor-background {
//   background-color: $dark-background-50 !important;
// }

.code-snippet.dark .lines-content.monaco-editor-background,
.code-snippet.dark .margin {
  background-color: $dark-background-50 !important;
}

.code-snippet.light .lines-content.monaco-editor-background,
.code-snippet.light .margin {
  background-color: $light-background-200 !important;
}

.code-snippet.dark .core-guide.core-guide-indent.vertical,
.code-snippet.dark .core-guide.core-guide-indent-active.vertical,
.code-snippet.light .core-guide.core-guide-indent.vertical,
.code-snippet.light .core-guide.core-guide-indent-active.vertical {
  display: none !important;
}

.code-snippet.dark .decorationsOverviewRuler,
.code-snippet.dark .invisible.scrollbar.vertical.fade,
.code-snippet.dark .visible.scrollbar.vertical,
.code-snippet.light .decorationsOverviewRuler,
.code-snippet.light .invisible.scrollbar.vertical.fade,
.code-snippet.light .visible.scrollbar.vertical {
  width: 0 !important;
}

.code-snippet.dark .scroll-decoration,
.code-snippet.light .scroll-decoration {
  width: 0 !important;
}

.code-snippet.dark .monaco-editor,
.code-snippet.light .monaco-editor {
  pointer-events: none;
}

.custom-tooltip {
  position: relative;
  display: inline-block;

  .tooltip-content {
    position: absolute;
    top: -3.8rem;
    left: 0;
    width: 10rem;
    width: 25rem;
    max-width: 28rem;
    border-radius: 5px;
    padding: 0.8rem;
    font-size: 1.3rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
  }

  .tooltip-content.dark {
    background-color: $light-background-400;
    color: $text-gray-800;
  }

  .tooltip-content.light {
    background-color: $dark-background-50;
    color: $text-off-white;
  }
}

.custom-tooltip.middle .tooltip-content {
  transform: translateX(-50%);
}

.custom-tooltip.right .tooltip-content {
  transform: translateX(-100%);
}

.custom-tooltip:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

.heatmap-day {
  width: 0.8rem;
  height: 0.8rem;
}
