@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './variables.module.scss';

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $dark-background-100;
}

::-webkit-scrollbar-thumb {
  background: $color-gray-700;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-gray-600;
}

.heatmap-wrapper--light::-webkit-scrollbar-track,
.solution-modal-wrapper--light::-webkit-scrollbar-track,
.problem-description-wrapper--light::-webkit-scrollbar-track {
  background: $color-scrollbar-track-light;
}

.heatmap-wrapper--light::-webkit-scrollbar-thumb,
.solution-modal-wrapper--light::-webkit-scrollbar-thumb,
.problem-description-wrapper--light::-webkit-scrollbar-thumb {
  background: $color-scrollbar-thumb-light;
}

.heatmap-wrapper--light::-webkit-scrollbar-thumb:hover,
.solution-modal-wrapper--light::-webkit-scrollbar-thumb:hover,
.problem-description-wrapper--light::-webkit-scrollbar-thumb:hover {
  background: $color-scrollbar-thumb-hover-light;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.3px;
  background-color: $dark-background-400;
}

.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  height: 10px;
  cursor: row-resize;
  background-color: $resize-handlebar-color;
  background-repeat: no-repeat;
  background-position: 50%;
  width: calc(100% + 2px);
  position: relative;
  top: 5px;
  right: 1px;
}

.wmde-markdown pre {
  position: relative;
}

.editor-preview.light .copied {
  background-color: $light-background-300;
}

.code-editor {
  padding-top: 1rem;
}

.code-editor .decorationsOverviewRuler,
.code-editor .invisible.scrollbar.vertical.fade,
.code-editor .visible.scrollbar.vertical {
  width: 0.8rem !important;
}

.code-editor .scroll-decoration {
  width: 0 !important;
}

.code-editor .view-line.code-error-highlight {
  background-color: $color-error-700 !important;
  opacity: 0.7;
  border: solid $color-error-500 1px;
  width: calc(100% - 8px);
}

.code-highlight {
  overflow-x: hidden !important;
  .code-line {
    overflow-x: hidden;
    white-space: pre-wrap;
    font-size: 1.4rem;
  }
}

.code-editor__note {
  .w-md-editor {
    height: 50vh !important;
    box-shadow: none;
  }

  .w-md-editor-bar {
    display: none;
  }

  .w-md-editor-toolbar {
    border-bottom: none;
  }

  button[data-name='fullscreen'],
  .w-md-editor-toolbar-divider {
    display: none;
  }

  .w-md-editor-show-preview .w-md-editor-toolbar {
    display: flex;
    justify-content: flex-end;
    min-height: 3.2rem !important;

    ul:first-child {
      display: none;
    }
  }
}
.code-editor__note--dark {
  .w-md-editor-preview .code-highlight {
    background-color: $color-code-hightlight-preview-dark !important;
  }

  .text-editor.dark,
  .w-md-editor-toolbar,
  .wmde-markdown.wmde-markdown-color {
    background-color: $dark-background-200 !important;
  }
}

.code-editor__note--light {
  .w-md-editor-preview .code-highlight {
    background-color: $color-code-hightlight-preview-light !important;
  }

  .text-editor.dark,
  .w-md-editor-toolbar,
  .wmde-markdown.wmde-markdown-color {
    background-color: $light-background-0 !important;
  }
}

.react-resizable {
  position: relative;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-resizable-handle {
  display: block;
  background-color: $dark-background-200;
  background-repeat: no-repeat;
  background-position: 50%;
}

.react-resizable-handle:hover {
  background-color: $color-primary-500;
}

.react-resizable-handle-n {
  height: 10px;
  width: 100%;
  // transform: translateX(-2rem);
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  position: absolute;
  top: 0;
}

// .react-resizable-handle-s {
//   height: 10px;
//   width: 100%;
//   cursor: row-resize;
//   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
// }

// .react-resizable-handle-e {
//   width: 10px;
//   min-width: 10px;
//   height: 100%;
//   cursor: col-resize;
//   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
// }

// .code-snippet {
//   &:has(> div.lines-content.monaco-editor-background) {
//     background-color: $dark-background-50 !important;
//   }

//   &:has(> div.margin){
//     background-color: $dark-background-50 !important;
//   }
// }

// .code-snippet .lines-content.monaco-editor-background {
//   background-color: $dark-background-50 !important;
// }

.code-snippet.dark .lines-content.monaco-editor-background,
.code-snippet.dark .margin {
  background-color: $dark-background-50 !important;
}

.code-snippet.light .lines-content.monaco-editor-background,
.code-snippet.light .margin {
  background-color: $light-background-200 !important;
}

.code-snippet.dark .core-guide.core-guide-indent.vertical,
.code-snippet.dark .core-guide.core-guide-indent-active.vertical,
.code-snippet.light .core-guide.core-guide-indent.vertical,
.code-snippet.light .core-guide.core-guide-indent-active.vertical {
  display: none !important;
}

.code-snippet.dark .decorationsOverviewRuler,
.code-snippet.dark .invisible.scrollbar.vertical.fade,
.code-snippet.dark .visible.scrollbar.vertical,
.code-snippet.light .decorationsOverviewRuler,
.code-snippet.light .invisible.scrollbar.vertical.fade,
.code-snippet.light .visible.scrollbar.vertical {
  width: 0 !important;
}

.code-snippet.dark .scroll-decoration,
.code-snippet.light .scroll-decoration {
  width: 0 !important;
}

.code-snippet.dark .monaco-editor,
.code-snippet.light .monaco-editor {
  pointer-events: none;
}

// .heatmap-day {
//   width: 0.8rem;
//   height: 0.8rem;
//   position: relative;

//   &:hover:before {
//     content: attr(data-tooltip);
//     position: absolute;
//     // bottom: 120%;
//     bottom: 200%;
//     left: 50%;
//     z-index: 10;
//     width: 25rem;
//     max-width: 28rem;
//     font-size: 1.3rem;
//     padding: 1rem;
//     border-radius: 4px;
//     cursor: pointer;
//     text-align: center;
//   }

//   &--dark:hover:before {
//     background-color: $light-background-400;
//     color: $text-gray-800;
//   }

//   &--light:hover:before {
//     background-color: $dark-background-50;
//     color: $text-off-white;
//   }

//   &.middle:hover:before {
//     transform: translateX(-50%);
//   }

//   &.right:hover:before {
//     transform: translateX(-100%);
//   }
// }

.heatmap-day {
  width: 0.8rem;
  height: 0.8rem;
  position: relative;

  // &:hover:before {
  //   content: attr(data-tooltip);
  //   position: absolute;
  //   // bottom: 120%;
  //   bottom: 200%;
  //   left: 50%;
  //   z-index: 10;
  //   width: 25rem;
  //   max-width: 28rem;
  //   font-size: 1.3rem;
  //   padding: 1rem;
  //   border-radius: 4px;
  //   cursor: pointer;
  //   text-align: center;
  // }

  // &--dark:hover:before {
  //   background-color: $light-background-400;
  //   color: $text-gray-800;
  // }

  // &--light:hover:before {
  //   background-color: $dark-background-50;
  //   color: $text-off-white;
  // }

  // &.middle:hover:before {
  //   transform: translateX(-50%);
  // }

  // &.right:hover:before {
  //   transform: translateX(-100%);
  // }
}

.custom-tooltip {
  position: relative;
  display: inline-block;

  .tooltip-content {
    position: absolute;
    top: -3.8rem;
    left: 0;
    width: 10rem;
    width: 25rem;
    max-width: 28rem;
    border-radius: 5px;
    padding: 0.8rem;
    font-size: 1.3rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
  }

  .tooltip-content.dark {
    background-color: $light-background-400;
    color: $text-gray-800;
  }

  .tooltip-content.light {
    background-color: $dark-background-50;
    color: $text-off-white;
  }
}

.custom-tooltip.middle .tooltip-content {
  transform: translateX(-50%);
}

.custom-tooltip.right .tooltip-content {
  transform: translateX(-100%);
}

.custom-tooltip:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

.heatmap-day {
  width: 0.8rem;
  height: 0.8rem;
}
