@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --color-primary-50: #ff7230;
  --color-primary-100: #e65715;
  --color-primary-200: #e64900;
  --color-primary-250: #e64900b5;
  --color-primary-300: #993507;
  --color-secondary-50: #15e6d0;
  --color-secondary-100: #009989;
  --color-off-white: #ffffffde;
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-200: hsl(265, 7%, 70%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  --color-grey-500: hsl(265, 3%, 53%);
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);
  --background-color-50: #2b2b2b;
  --background-color-100: #212121;
  --background-color-200: #181818;
  --background-color-300: #151515;
  --background-color-400: #141414;
  --background-color-500: #050505;
  --facebook-background-color: #2b70c0;
  --google-background-color: #35b46d;
  --github-background-color: #3b3b3b;

  --color-success-100: #a2f0bc;
  --color-success-200: #6fc88d;
  --color-success-500: #12bd4b;

  --color-error-50: #eac0d2;
  --color-error-100: #f1acc9;
  --color-error-200: #c55584;
  --color-error-300: #f6385b;
  --color-error-500: #a10c4a;

  --color-warning-100: #eea60c;

  --color-resize-handlebar: #37414b;
  --color-table-even-row: #4545456b;
  --color-strip: #dedede;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-color-200);
}

::-webkit-scrollbar-thumb {
  background: var(--color-grey-700);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-grey-600);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: var(--background-color-200);
}

/* .text-editor .w-md-editor-content,
.text-editor .wmde-markdown.wmde-markdown-color {
  background-color: var(--background-color-100);
}

.text-editor .w-md-editor-toolbar {
  background-color: var(--background-color-400);
} */

.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  height: 10px;
  cursor: row-resize;
  background-color: var(--color-resize-handlebar);
  background-repeat: no-repeat;
  background-position: 50%;
  width: calc(100% + 2px);
  position: relative;
  top: 2px;
  right: 1px;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #bafcff;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #1cc5ce;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #10979e;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #096c71;
}
