@import '@/styles/variables.module.scss';

.homepage {
  min-height: calc(100vh - 150px);
  font-size: 1.8rem;
  width: calc(100vw - 1rem);
  padding: 5rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  letter-spacing: 1px;

  &--dark {
    background-color: $dark-background-600;
    color: $color-gray-100;
  }

  &--light {
    background-color: $light-background-0;
    color: $color-gray-700;
  }

  .heading {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    .slogan {
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 0.5rem;
      background-image: linear-gradient(
        to right,
        $color-slogan-gradient-left,
        $color-slogan-gradient-right
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      font-size: 2.3rem;
      letter-spacing: 0.3rem;
    }

    .join {
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      padding: 1.5rem 2.5rem;
      border: none;
      border-radius: 0.5rem;
      color: $color-gray-100;
      transition: background-color 0.3s ease;

      &--dark {
        background-color: $color-primary-200;
        box-shadow: 0 0 10px $color-join-button-dark-300;

        &:hover {
          background-color: $color-join-button-dark-100;
          box-shadow: 0 0 10px $color-join-button-dark-200;
        }
      }

      &--light {
        background-color: $color-primary-200;
        box-shadow: 0 0 10px $color-join-button-light-200;

        &:hover {
          background-color: $color-gray-300;
          box-shadow: 0 0 10px $color-join-button-light-100;
        }
      }
    }
  }

  .first-section,
  .second-section,
  .third-section {
    display: flex;

    p {
      color: inherit;
      line-height: 1.5;
    }
  }

  .first-section {
    border-radius: 1rem;
    padding: 5rem 3rem;
    justify-content: center;

    &--dark {
      background: $homepage-background-primary--dark;
    }

    &--light {
      background: $homepage-background-primary-light;
      color: $text-gray-800;
    }

    h2 {
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 2px;
    }

    p {
      margin-top: 3rem;
    }

    .message {
      margin-top: 4rem;
      width: 60%;
      padding: 0 3rem;
    }

    .code-editor-image {
      width: 40%;
      margin-left: 5rem;
      height: 25rem;
      display: flex;
      align-items: center;

      .image-wrapper {
        border: solid $code-editor-image-border-color 3px;
        border-radius: 1rem;
        overflow: hidden;
        & > * {
          transform: scale(102%);
        }

        &--dark {
          box-shadow: 4px 4px 8px rgba(142, 192, 190, 0.3);
        }

        &--light {
          box-shadow: 4px 4px 8px rgb(104 54 26 / 61%);
        }
      }
    }
  }

  .second-section {
    margin-top: 5rem;
    h2 {
      margin-top: 4rem;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 2px;
      color: $color-primary-100;
    }

    p {
      margin-top: 2rem;
    }

    .chart-image-wrapper {
      width: 40%;
    }

    .message {
      width: 60%;
      padding: 0 7rem 0 9rem;
    }

    .chart-image-wrapper {
      perspective: 1000px;
      position: relative;

      .chart-image-dark,
      .chart-image-light,
      .performance-image {
        margin-left: 5rem;
        border-radius: 1rem;
        width: 35rem;
        overflow: hidden;
      }

      .chart-image-dark,
      .chart-image-light {
        transform: rotateY(30deg);
      }

      .chart-image-dark {
        position: absolute;
        top: 3.5rem;
        left: 3rem;
      }

      .chart-image-light {
        position: absolute;
        top: 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .third-section {
    margin-top: 15rem;
    height: 30rem;

    .message,
    .resouce-image-wrapper {
      width: 50%;
    }

    .message {
      padding: 0 5rem;
    }

    h2 {
      margin-top: 2.5rem;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 2px;
    }

    p {
      margin-top: 2rem;
    }

    .resouce-image-wrapper {
      perspective: 1000px;
      position: relative;

      .interview-book-image,
      .fullstack-cafe-image,
      .neetcode-io-image {
        position: absolute;
        border-radius: 10px;
        width: 35rem;
        height: 19rem;
        overflow: hidden;
        transform: rotateY(-20deg);
      }

      .neetcode-io-image {
        top: 4rem;
      }

      .interview-book-image {
        top: 0;
        left: 10rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      }

      .fullstack-cafe-image {
        top: 2rem;
        left: 5rem;

        & > * {
          transform: translateY(-2.2rem);
        }
      }
    }
  }
}
