@import '@/styles/variables.module.scss';

.homepage {
  min-height: calc(100vh - 150px);
  font-size: 1.5rem;
  width: 100vw;
  padding: 5rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &--dark {
    background-color: $dark-background-600;
    color: $color-gray-100;
  }

  &--light {
    background-color: $light-background-0;
    color: $color-gray-700;
  }

  .first-section,
  .second-section,
  .third-section {
    display: flex;

    p {
      color: inherit;
      line-height: 1.5;
    }
  }

  .first-section {
    background: $homepage-background-primary;
    // background: $homepage-background-secondary;
    border-radius: 1rem;
    padding: 3rem;
    justify-content: center;

    h2 {
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 2px;
    }

    p {
      margin-top: 3rem;
    }

    .message,
    .code-editor-image {
      width: 50%;
    }

    .message {
      margin-top: 4rem;
    }

    .code-editor-image {
      margin-left: 5rem;
    }
  }

  .second-section {
    margin-top: 5rem;
    h2 {
      margin-top: 4rem;
      font-size: 2.3rem;
      font-weight: 300;
      letter-spacing: 2px;
      color: $color-primary-100;
    }

    p {
      margin-top: 2rem;
    }

    .message,
    .chart-image-wrapper {
      width: 50%;
    }

    .chart-image-wrapper {
      perspective: 1000px;
      position: relative;

      .chart-image-dark,
      .chart-image-light,
      .performance-image {
        margin-left: 5rem;
        border-radius: 1rem;
        width: 35rem;
        overflow: hidden;
      }

      .chart-image-dark,
      .chart-image-light {
        transform: rotateY(30deg);
      }

      .chart-image-dark {
        position: absolute;
        top: 3.5rem;
        left: 3rem;
      }

      .chart-image-light {
        position: absolute;
        top: 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .third-section {
    margin-top: 15rem;
    height: 30rem;

    .message,
    .resouce-image-wrapper {
      width: 50%;
    }

    h2 {
      margin-top: 4rem;
      font-size: 2.3rem;
      font-weight: 300;
      letter-spacing: 2px;
    }

    p {
      margin-top: 3rem;
    }

    .resouce-image-wrapper {
      perspective: 1000px;
      position: relative;

      .interview-book-image,
      .fullstack-cafe-image,
      .neetcode-io-image {
        position: absolute;
        border-radius: 10px;
        width: 35rem;
        height: 19rem;
        overflow: hidden;
        transform: rotateY(-20deg);
      }

      .neetcode-io-image {
        top: 4rem;
      }

      .interview-book-image {
        top: 0;
        left: 10rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      }

      .fullstack-cafe-image {
        top: 2rem;
        left: 5rem;

        & > * {
          transform: translateY(-2.2rem);
        }
      }

    }
  }
}
