@import '@/styles/variables.module.scss';

.homepage {
  min-height: calc(100vh - 150px);

  &--light {
    background-color: $light-background-0;
  }

  &--dark {
    background-color: $dark-background-300;
  }
}
