@import '@/styles/variables.module.scss';

.note-page {
  min-height: calc(100vh - 15rem);
  padding: 5rem;

  &--dark {
    background-color: $dark-background-400;
  }

  &--light {
    background-color: $light-background-0;
  }
}

@media (max-width: 61em) {
  .note-page {
    min-height: calc(100vh - 27rem);
  }
}