@import '@/styles/variables.module.scss';

.problems {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 15rem);
  padding: 5rem;

  &--dark {
    background-color: $dark-background-400;
  }

  &--light {
    background-color: $light-background-0;
  }
}

.selections {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
  align-self: flex-start;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
}

.filters {
  display: flex;
  align-self: flex-start;
  margin-bottom: 3rem;
  gap: 1rem;
}

.filter-badge {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.4rem;
  color: $color-gray-50;
  border-radius: 20px;
  padding: 0.3rem 1rem;

  &--dark {
    background-color: $color-primary-400;
  }

  &--light {
    background-color: $color-primary-200;
  }
}

.page-number {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: $text-gray-400;
  letter-spacing: 1px;
}

@media (max-width: 61em) {
  .problems {
    min-height: calc(100vh - 27rem);
    padding: 5rem 2rem;
  }
}

@media (max-width: 48em) {
  .problems {
    .selections {
      padding: 0 2rem;
      gap: 1rem;
      transform: scale(110%);
    }
  }
}