@import '@/styles/variables.module.scss';

.problem-tests-page {
  min-height: calc(100vh - 7rem);
  padding: 0 5rem 5rem 5rem;

  &--dark {
    background-color: $dark-background-400;
  }

  &--light {
    background-color: $light-background-0;
  }
}

.python-tests,
.javascript-tests {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  font-size: 1.5rem;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    background-color: $color-primary-200;
    width: fit-content;
    padding: 1rem 3rem;
    border-radius: 5px;
  }

  .editor-wrapper {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;

    &--dark {
      background-color: $dark-background-350;
    }

    &--light {
      background-color: $light-background-0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .test-cases {
    display: flex;
    margin-top: 4rem;
    gap: 2rem;

    & > * {
      width: 49%;
    }
  }

  .label {
    width: fit-content;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    background-color: $color-gray-200;
    border-radius: 5px;
  }
}

.action-buttons {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 4rem;
  gap: 2rem;
}


