.problems-page {
  height: calc(100% - 150px);
  padding: 5rem;
}

.selections {
  display: flex;
  /* margin-bottom: 3rem; */
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.random {
  position: relative;
}

.random:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 120%;
  left: 130%;
  transform: translateX(-50%);
  z-index: 10;
  width: 9rem;
  font-size: 1.2rem;
  background-color: var(--background-color-50);
  color: var(--color-off-white);
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.filters {
  display: flex;
  margin-bottom: 3rem;
  gap: 1rem;
}

.filter-badge {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.4rem;
  background-color: #e64900b5;
  color: var(--color-grey-200);
  border-radius: 20px;
  padding: 0.3rem 1rem;
}
