@import '@/styles/variables.module.scss';

.problems {
  min-height: calc(100vh - 150px);
  padding: 5rem;

  &--dark {
    background-color: $dark-background-300;
  }

  &--light {
    background-color: $light-background-0;
  }
}

.selections {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.filters {
  display: flex;
  margin-bottom: 3rem;
  gap: 1rem;
}

.filter-badge {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.4rem;
  background-color: $color-primary-400;
  color: $color-gray-200;
  border-radius: 20px;
  padding: 0.3rem 1rem;
}
