.problems-page {
  min-height: calc(100vh - 150px);
  padding: 5rem;
}

.selections {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.filters {
  display: flex;
  margin-bottom: 3rem;
  gap: 1rem;
}

.filter-badge {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.4rem;
  background-color: var(--color-primary-250);
  color: var(--color-grey-200);
  border-radius: 20px;
  padding: 0.3rem 1rem;
}
