@import '@/styles/variables.module.scss';

.problem-detail-page {
  min-height: calc(100vh - 7rem);
  height: fit-content;
  max-height: fit-content;
  position: relative;
  padding: 1rem;
  width: 100vw;

  &--dark {
    background-color: $dark-background-700;
  }

  &--light {
    background-color: $light-background-0;
  }
}

.timer-alert {
  position: absolute;
  left: 50%;
  width: fit-content;
  z-index: 200;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  transform: translateX(-50%);
  display: flex;
  padding: 1rem;
  color: $light-background-200;

  button {
    background-color: transparent;
    align-self: flex-end;
    border: solid $light-background-200 2px;

    & > * {
      color: $light-background-200;
    }
  }

  p {
    align-self: center;
    padding: 0 2rem;
  }
}

.debug,
.detail {
  display: block;
  width: 100%;
  height: inherit;
  border-radius: 6px;
  overflow: hidden;

  &--inactive {
    display: none;
  }

  &--dark {
    background-color: $dark-background-400;

    pre {
      background-color: $dark-background-200;
      color: $text-off-white;
    }
  }

  &--light {
    background-color: $light-background-0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: $text-gray-800;

    pre {
      background-color: $light-background-200;
      color: $color-gray-800;
    }
  }
}

.tabs {
  position: relative;
  display: flex;
  font-size: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 4.5rem;
  z-index: 20;

  &--dark {
    background-color: $dark-background-300;
  }

  &--light {
    background-color: $light-background-0;
  }

  & > * {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
  }
}

.description {
  position: relative;
  height: fit-content;
  overflow-y: visible;
  padding-bottom: 5rem;
}

.working {
  display: flex;
  height: calc(100vh - 9rem);
  border-radius: 6px;
  overflow: hidden;

  &--dark {
    background-color: $dark-background-400;
  }

  &--light {
    background-color: $light-background-0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  &--inactive {
    display: none;
    max-width: 0;
    max-height: 0;
  }
}

/**********************************/
/* BELOW 769px                    */
/**********************************/
@media (max-width: 48em) {
  .timer-alert {
    width: 34rem;
    top: 0;
  }
}

/**********************************/
/* BELOW 394px                    */
/**********************************/
@media (max-width: 393px) {
  .problem-detail-page {
    min-height: calc(100svh - 7rem);
    height: calc(100svh - 7rem);
    overflow-y: hidden;
  }
}
