@import '@/styles/variables.module.scss';

.user-dashboard {
  min-height: calc(100vh - 150px);
  display: flex;
  padding: 2rem;
  gap: 2rem;

  font-size: 1.5rem;

  &--dark {
    background-color: $dark-background-400;
  }

  &--light {
    background-color: $light-background-0;
  }
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  width: 30rem;
  background-color: $dark-background-200;
  border-radius: 1rem;
  padding: 3rem 2rem;
  gap: 4rem;

  &--dark {
    color: $text-off-white;
    background-color: $dark-background-200;
  }

  &--light {
    color: $text-gray-700;
    background-color: $light-background-0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  // margin-bottom: 3rem;

  h1 {
    font-size: 2rem;
  }
}

.utilities {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  margin: 0 2rem;
  border-radius: 1rem;
  font-size: 1.5rem;

  &--dark {
    background-color: $color-gray-600;
  }

  &--light {
    background-color: $light-background-100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: $text-gray-500;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }

  .timer-reminder-switch {
  }

  .notebook span,
  .saved-list span,
  .completed-list span {
    padding-right: 0.3rem;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
.overview {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heatmap {
  border-radius: 1rem;
  padding: 3rem 2rem 1rem;

  &--dark {
    color: $text-off-white;
    background-color: $dark-background-200;
  }

  &--light {
    color: $text-gray-700;
    background-color: $light-background-0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
  }

  .heatmap-container {
    display: inline-block;
    width: calc(100vw - 40rem);
    overflow-x: auto;
    overflow-y: hidden;
    padding: 2.5rem 0;

    & > *:hover {
      overflow-x: visible;
    }
  }
}

.progress {
  display: flex;
  flex-direction: column;
  // gap: 1.5rem;
  border-radius: 1rem;
  align-items: center;

  // &--dark {
  //   color: $text-off-white;
  //   background-color: $dark-background-200;
  // }

  // &--light {
  //   color: $text-gray-700;
  //   background-color: $light-background-0;
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  // }

  .progress-cirlce-container {
  }

  .progress-bar-container {
    width: 100%;
    padding: 0 2rem;
    transform: translateY(-1rem);
  }
}

.speed-records {
  border-radius: 1rem;
  padding: 2rem;
  height: fit-content;
  min-height: 42.5rem;

  &--dark {
    color: $text-off-white;
    background-color: $dark-background-200;
  }

  &--light {
    color: $text-gray-700;
    background-color: $light-background-0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.saved-list {
  z-index: 10;

  & > div {
    width: calc(100vw - 36rem);
  }
}
