// Primary colors
$color-primary-50: #ff7230;
$color-primary-100: #e65715;
$color-primary-200: #e64900;
$color-primary-300: #c25421;
$color-primary-400: #e64900b5;
$color-primary-500: #993507;

// Secondary colors
$color-secondary-50: #15e6d0;
$color-secondary-100: #009989;
$color-secondary-200: #177c70;

// Gray colors:
$color-gray-50: #f4effa;
$color-gray-100: #dfdbe6;
$color-gray-200: #b1aeb6;
$color-gray-300: #a7a3ae;
$color-gray-400: #918d96;
$color-gray-500: #87848b;
$color-gray-600: #656565;
$color-gray-700: #4f4c52;
$color-gray-800: #343036;
$color-gray-900: #221f23;

// Pink colors:
$color-pink-50: #eac0d2;
$color-pink-100: #f1acc9;
$color-pink-200: #c55584;

// Dark background colors:
$dark-background-50: #333;
$dark-background-100: #3a3a3a;
$dark-background-200: #2b2b2b;
$dark-background-300: #212121;
$dark-background-350: #1e1e1e;
$dark-background-400: #181818;
$dark-background-500: #151515;
$dark-background-600: #141414;
$dark-background-700: #050505;

// Light background colors:
$light-background-0: #fff;
$light-background-50: #eaeaea;
$light-background-100: #f6f6f6de;
$light-background-200: #e7e7e7;
$light-background-300: #cccccc;
$light-background-400: #c5ced4;
$light-background-500: #bdbdbd;

// Gray background color:
$gray-background-100: #818181;

// Text colors::after
$text-off-white: #ffffffde;
$text-gray-400: $color-gray-400;
$text-gray-500: $color-gray-500;
$text-gray-600: $color-gray-600;
$text-gray-700: $color-gray-700;
$text-gray-800: $color-gray-800;
$text-gray-900: $color-gray-900;

// Status colors
$color-success-100: #a2f0bc;
$color-success-200: #6fc88d;
$color-success-300: #19dd5a;
$color-success-500: #12bd4b;
$color-success-600: #1a5d30;
$color-success-700: #104d24;

// $color-error-50: ;
// $color-error-100: ;
$color-error-200: #ff7474;
$color-error-300: #ef4444;
$color-error-400: #e32447;
$color-error-500: #a10c4a;
$color-error-600: #57112e;
$color-error-700: #5d2525;

$color-warning-100: #eea60c;
$color-warning-200: #c59a01;
$color-warning-300: #705926;

$color-info-100: #008aa9;

// Miscelaneous colors:
$homepage-background-primary--dark: linear-gradient(
  143deg,
  rgba(33, 33, 33, 1) 0%,
  rgba(71, 43, 31, 1) 100%
);

$homepage-background-primary-light: linear-gradient(
  143deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(166, 143, 133, 1) 34%,
  rgba(106, 68, 51, 1) 100%
);

$homepage-background-secondary: linear-gradient(
  143deg,
  rgba(12, 68, 62, 1) 50%,
  rgba(33, 33, 33, 1) 100%
);

$user-menu-background-dark: linear-gradient(
  143deg,
  rgba(33, 33, 33, 1) 32%,
  rgba(48, 52, 52, 1) 100%
);

$user-menu-background-light: linear-gradient(
  143deg,
  rgba(237, 237, 237, 1) 17%,
  rgba(255, 255, 255, 1) 100%
);

$facebook-background-100: #2b70c0;
$facebook-background-200: #2c517c;
$google-background-100: #35b46d;
$google-background-200: #2d7a4e;
$github-background-100: #3b3b3b;
$github-background-200: #1a1a1a;

$color-python: #2767b9;
$color-javascript: #95950c;
$color-searchbar: #ffa88e;
$color-code-hightlight-preview-dark: #404040;
$color-code-hightlight-preview-light: #e7e7e7;
$color-input-light: #f1f5f9;
$color-fullstack-cafe: #f78823;
$color-neetcode: #1d1e21;
$color-icon-gray: #908c95;

$color-debug-highlight-dark: #56592b;
$color-debug-highlight-light: #d7daa4;

$color-backdrop-dark: #00000080;
$color-backdrop-light: #eaeaea80;

$color-progress-easy: #5e7a68;
$color-progress-medium: #7b795f;
$color-progress-hard: #7d6161;

$color-scrollbar-track-light: #eaeae9;
$color-scrollbar-thumb-light: #c5c5c4;
$color-scrollbar-thumb-hover-light: #919190;

$color-black: #000;
$color-white: #fff;
$color-off-white: hsla(0, 0%, 100%, 0.871);

$resize-handlebar-color: #37414b;
$odd-cell-color-dark: #4545456b;
$odd-cell-color-light: #cecece6b;
$strip-color-dark: #dedede;
$strip-color-light: #ffecde;
// $header-divider: #6c6b6b;
$header-divider: $color-gray-500;
// $header-divider: #565656;
$code-editor-image-border-color: #8c8358;
$color-slogan-gradient-left: #e89874;
$color-slogan-gradient-right: #ce1d1d;


$color-join-button-dark-100: #ffffffb3;
$color-join-button-dark-200: #ffffff80;
$color-join-button-dark-300: #ffb9a7bf;

$color-join-button-light-100: #878787a8;
$color-join-button-light-200: #7e574da8;

$dark-heatmap-color-0: $color-gray-600;
$light-heatmap-color-0: $color-gray-50;
$heatmap-color-1: #2a8559;
$heatmap-color-2: #27ab6b;
$heatmap-color-3: #1dcf79;
$heatmap-color-4: #0cf283;

$code-font: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
  Liberation Mono, monospace;

:export {
  colorPrimary50: $color-primary-50;
  colorPrimary100: $color-primary-100;
  colorPrimary200: $color-primary-200;
  colorPrimary300: $color-primary-300;
  colorPrimary400: $color-primary-400;
  colorPrimary500: $color-primary-500;

  colorSecondary50: $color-secondary-50;
  colorSecondary100: $color-secondary-100;
  colorSecondary200: $color-secondary-200;

  colorGray50: $color-gray-50;
  colorGray100: $color-gray-100;
  colorGray200: $color-gray-200;
  colorGray300: $color-gray-300;
  colorGray400: $color-gray-400;
  colorGray500: $color-gray-500;
  colorGray600: $color-gray-600;
  colorGray700: $color-gray-700;
  colorGray800: $color-gray-800;
  colorGray900: $color-gray-900;

  darkHeatMapColor0: $dark-heatmap-color-0;
  lightHeatMapColor0: $light-heatmap-color-0;
  heatMapColor1: $heatmap-color-1;
  heatMapColor2: $heatmap-color-2;
  heatMapColor3: $heatmap-color-3;
  heatMapColor4: $heatmap-color-4;

  stripColorDark: $strip-color-dark;
  stripColorLight: $strip-color-light;
  colorOffWhite: $color-off-white;

  colorSuccess500: $color-success-500;
  colorWarning100: $color-warning-100;
  colorWarning200: $color-warning-200;
  colorWarning300: $color-warning-300;
  colorInfo100: $color-info-100;
  colorError300: $color-error-300;
  colorError400: $color-error-400;

  colorProgressEasy: $color-progress-easy;
  colorProgressMedium: $color-progress-medium;
  colorProgressHard: $color-progress-hard;

  darkBackground50: $dark-background-50;
  darkBackground100: $dark-background-100;
  darkBackground200: $dark-background-200;
  darkBackground300: $dark-background-300;
  darkBackground400: $dark-background-400;
  darkBackground500: $dark-background-500;
  darkBackground600: $dark-background-600;
  darkBackground700: $dark-background-700;

  lightBackground0: $light-background-0;
  lightBackground50: $light-background-50;
  lightBackground100: $light-background-100;
  lightBackground200: $light-background-200;
  lightBackground300: $light-background-300;

  colorFullStackCafe: $color-fullstack-cafe;
  colorNeetcode: $color-neetcode;
}
