@import '@/styles/variables.module.scss';

.footer {
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  height: 80px;
  font-size: 1.4rem;
  padding: 0 3rem;

  &--dark {
    background-color: $dark-background-400;
    color: $color-gray-200;
  }

  &--dark.in-home-page {
    background-color: $dark-background-600;
  }

  &--light {
    background-color: $light-background-0;
    color: $text-gray-600;
  }

  & > * {
    display: flex;
    justify-content: center;
  }
}

.disclaimer {
  grid-column: span 2;
  border-left: none;
}

.socials {
  grid-column: span 1.5;
  gap: 1.5rem;

  & > * {
    cursor: pointer;
  }
}
