@import '@/styles/variables.module.scss';

.header {
  max-width: 100vw;
  height: 7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 5rem;

  &--dark {
    background-color: $dark-background-600;
    border-bottom: solid $header-divider 0.1px;
    color: $color-gray-200;
  }

  &--light {
    background-color: $light-background-0;
    border-bottom: solid $color-gray-100 0.1px;
    color: $text-gray-600;
  }
}

.logo {
  height: 100%;
  overflow: hidden;
  transform: translateY(-0.8rem);
  cursor: pointer;
}

.header-right-group {
  display: flex;
  gap: 2.5rem;
  justify-self: flex-end;
  margin-left: auto;

  .menu-icon {
    cursor: pointer;
  }
}

.problem__action-buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 1.3rem;
  align-items: center;

  .saved-list-button {
    height: 3.3rem;
    width: fit-content;
    font-size: 1.7rem;
    font-weight: 300;
    padding: 0 1.2rem;
    border-radius: 5px;
    letter-spacing: 2px;
    padding-top: 1px;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-warning-100;
      opacity: 0.8;
      color: $text-off-white;
    }
  }
}

.main-nav,
.auth {
  display: flex;
  height: 100%;
  align-items: center;
}

.main-nav {
  gap: 2rem;
  margin-left: 30%;
}

.main-nav li {
  height: calc(100% - 1px);
  border-bottom: solid transparent 3px;
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: 300;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateY(2px);
}

.main-nav li:hover {
  border-color: $color-primary-100;
}

.auth {
  align-items: center;
  gap: 1.8rem;
}

.login,
.signup {
  padding: 8px 20px;
  text-align: center;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.login--dark {
  border: solid $color-off-white 2px;
}

.login--light {
  border: solid $color-gray-400 2px;
}

.signup--dark {
  border: solid $color-primary-50 2px;
}

.signup--light {
  border: solid $color-primary-50 2px;
}

.login--dark:hover,
.signup--dark:hover {
  opacity: 0.6;
}

.login--light:hover {
  background-color: $color-gray-200;
  border: solid $color-gray-200 2px;
  color: $text-off-white;
}

.signup--light:hover {
  background-color: $color-primary-50;
  border: solid $color-primary-50 2px;
  color: $text-off-white;
}

.avatar {
  position: relative;
  cursor: pointer;
  margin-right: 3rem;
}

@media (max-width: 37.5em) {
  .header {
    padding: 0 3rem;

    .logo {
      transform: scale(105%) translateY(-0.7rem);
    }

    .header-right-group .menu-icon {
      transform: scale(130%) translateX(-0.7rem);
    }
  }
}
