.header {
  max-width: 120rem;
  height: 70px;
  background-color: var(--background-color-500);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  border-bottom: solid rgb(108, 107, 107) 0.1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 5rem;
}

.main-nav,
.auth {
  display: flex;
}

.main-nav {
  gap: 2rem;
}

.main-nav li {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1.6px;
  text-decoration-color: transparent;
  transition: 0.5s;
  font-size: 1.7rem;
  font-weight: 300;
}

.main-nav li:hover {
  text-decoration-color: var(--color-primary-50);
}

.auth {
  align-items: center;
  gap: 1.8rem;
}

.login,
.signup {
  padding: 8px 20px;
  text-align: center;
  transition: opacity 0.3s ease-in;
}

.login:hover,
.signup:hover {
  opacity: 0.6;
}

.login {
  border: solid var(--color-off-white) 2px;
}

.signup {
  border: solid var(--color-primary-50) 2px;
}

.avatar {
  position: relative;
  cursor: pointer;
  margin-right: 3rem;
}