@import '@/styles/variables.module.scss';

.heatmap-calendar {
  display: flex;
  width: fit-content;
  background-color: transparent;
}

.heatmap-calendar__month {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

.heatmap-month {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

.heatmap-weekdays {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  gap: 1.1px;
}

.heatmap-week {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.heatmap-grid {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.heatmap-month-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heatmap-month__name-light {
  color: $text-gray-900;
}

.heatmap-month__name-dark {
  color: $text-off-white;
}

.heatmap-weekday {
  margin-right: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
