@import '@/styles/variables.module.scss';

.progress-circle__container {
  position: relative;
  width: 15rem;
}

.progress-text {
  position: absolute;
  width: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-57%, -50%);

  &--dark {
    color: $color-gray-200;
  }

  &--light {
    color: $color-gray-700;
  }
}

.solved {
  font-size: 2.5rem;

  &--dark {
    color: $text-off-white;
  }

  &--light {
    color: $color-gray-700;
  }
}

.solved-current {
  border-bottom: solid $color-gray-300 1px;
  padding-bottom: 0.3rem;
  font-size: 1.2rem;
}

.solved-total {
  font-size: 1.5rem;
}

.progress-circle {
  transform: translateX(-8rem) rotate(-88deg);
}

.progress-circle-background {
  fill: none;
  stroke-width: 7px;
  stroke-linecap: round;

  &--dark {
    stroke: $color-off-white;
  }

  &--light {
    stroke: $color-gray-300;
  }
}

.progress-circle-progress {
  fill: none;
  stroke: $color-primary-100;
  stroke-width: 8px;
  stroke-dasharray: 472;
  stroke-dashoffset: 467.28;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s ease-in-out;
}
