@import '@/styles/variables.module.scss';

.auth-form {
  min-height: 45vh;
  max-height: 100vh;
  overflow: hidden;
  height: 61rem;
  width: 42rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &--dark {
    background: $user-menu-background-dark;
    color: $text-off-white;
  }

  &--light {
    background: $user-menu-background-light;
    color: $text-gray-700;
  }
}

.form-container {
  display: grid;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
  transform: scale(150%);
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 2rem 2.5rem;
  font-size: 1.4rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  font-weight: 300;

  .name,
  .email,
  .password,
  .confirm-password {
    padding: 1rem;
    &--dark {
      background-color: $dark-background-100;
      color: $text-off-white;
    }

    &--light {
      background-color: $light-background-0;
      color: $text-gray-700;
    }
  }

  & > *:focus {
    outline: none;
  }
}

.password,
.confirm-password,
.password-error,
.confirm-password-error {
  &--dark {
    border-left: solid $color-gray-700 1px;
    border-right: solid $color-gray-700 1px;
    border-bottom: solid $color-gray-700 1px;
  }

  &--light {
    border-left: solid $color-gray-100 1px;
    border-right: solid $color-gray-100 1px;
    border-bottom: solid $color-gray-100 1px;
  }
}

.name,
.name-error {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  &--dark {
    border: solid $color-gray-700 1px;
  }

  &--light {
    border: solid $color-gray-100 1px;
  }
}

.email,
.email-error {
  &--dark {
    border-bottom: solid $color-gray-700 1px;
    border-top: solid $color-gray-700 1px;
    border: solid $color-gray-700 1px;
  }

  &--light {
    border-bottom: solid $color-gray-100 1px;
    border-top: solid $color-gray-100 1px;
    border: solid $color-gray-100 1px;
  }
}

.name-error,
.email-error,
.password-error,
.confirm-password-error {
  color: $color-error-400;

  &--dark {
    background-color: $dark-background-100;
  }

  &--light {
    background-color: $light-background-0;
  }
}

.name-sucesss,
.email-success,
.password-success,
.confirmPassword-success {
  color: $color-success-500;
}

.confirm-password {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-actions {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.oauth-actions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;

  &--dark {
    color: $color-white;
  }

  &--light {
    color: $text-gray-700;
  }
}

.form-actions button,
.oauth-actions button {
  height: 3.8rem;
  font-weight: 400;
  font-size: 1.6rem;
}

.divider {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 44%;
  opacity: 0.5;
  align-self: center;

  &--dark {
    border-bottom: 1px solid $color-off-white;
  }

  &--light {
    border-bottom: 1px solid $color-gray-700;
  }
}

.oauth-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;

  .github,
  .google,
  .facebook {
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &--dark span {
    background-color: $color-gray-600;
  }

  &--light span {
    background-color: $color-gray-300;
  }
}

.auth-option,
.forgot-password {
  font-size: 1.4rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  span {
    color: $color-primary-50;
    text-decoration: underline;
  }
}

.forgot-password {
  justify-self: flex-end;
  margin: 1.5rem 0 0;

  &--dark {
    color: $color-forgot-password-dark;
  }

  &--light {
    color: $color-forgot-password-light;
  }
}

/**********************************/
/* BELOW 601px                    */
/**********************************/
@media (max-width: 37.5em) {
  .auth-form {
    height: 55rem;
    width: 40rem;
    padding: 1.5rem 3rem;
    .header-logo {
      margin-top: 0;
      margin-bottom: 3rem;
      transform: scale(125%);
    }
  }

  .form-actions button {
    font-size: 1.7rem;
    height: 4.4rem;
  }
  .oauth-actions button {
    height: 4rem;
  }
}

/**********************************/
/* BELOW 400px                    */
/**********************************/
@media (max-width: 25em) {
  .auth-form {
    height: 53rem;

    padding: 1rem 3rem;
    .header-logo {
      margin-bottom: 1.7rem;
      transform: scale(115%) translateX(-0.5rem);
    }

    .name,
    .email,
    .password {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .password,
    .confirm-password {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}